<h1>Listing Employees</h1>

<%= search_form_for @search, url: generators_employees_path do |f| %>
   <div class="field">
   	<%= f.label :name_cont, "Name Contains" %>
   	<%= f.text_field :name_cont%>
   </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<table border=1>
  <tr>
    <th><%= sort_link @search, :name, "Name" %></th>
    <th>Action</th>
    
  </tr>

<% @employees.each do |emp| %>
  <tr>
   <td><%= emp.name%></td>
   <td><%= link_to 'View Reports', generators_employee_reports_path(emp.id) %></td>
  </tr>
<% end %>
</table>