<h1>Listing reports</h1>

<table border=1>
  <tr>
    <th>Name</th>
    <th>Report</th>
    <th>Duration</th>
    <th>Comments</th>
    <th>Actions</th>
  </tr>

<% @reports.each do |report| %>
  <tr>
    <td><%= report.user.name %></td>
    <td><%= report.my_report %></td>
    <td><%= report.hour_spent %></td>
    <td><%= report.comments.map(&:report_comments).join(",") %></td>
    <td><%= link_to 'Show', report %>
    <%= link_to 'Edit', edit_report_path(report) %>
    <%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Report', new_report_path %>
